.detail-wrap[b-ooivdabmy6] {
    padding: 28px;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh; 
}

.not-found[b-ooivdabmy6] {
    border: 1px solid #e5e7eb;
    background: #fff;
    padding: 16px 20px;
    border-radius: 12px;
    display: flex;
    font-size: 30px;
    align-items: center;
    gap: 12px;
}

.not-found .back[b-ooivdabmy6] {
    height: 50px;
    width: 200px;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid #A6A6A6;
    background: #fff;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.detail-card[b-ooivdabmy6] {
    width: 720px;
    height:300px;
    border: 2px solid #A6A6A6;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0,0,0,.06);
    padding: 10px;
}

.detail-header[b-ooivdabmy6] {
    display: flex;
    gap: 14px;
    align-items: center;
    border-bottom: 1px solid #f0f2f5;
    padding-bottom: 14px;
    margin-bottom: 14px;
}

.detail-header img[b-ooivdabmy6] {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}

.detail-header .name[b-ooivdabmy6] {
    font-weight: 700;
    font-size: 18px;
}

.detail-header .pid[b-ooivdabmy6] {
    color: #9aa3ae;
    font-size: 12px;
}

.detail-grid[b-ooivdabmy6] {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 40px;
}

.detail-grid div[b-ooivdabmy6] {
    display: flex;
    align-items: center;
}

.detail-grid label[b-ooivdabmy6] {
    display: block;
    color: #6b7280;
    font-size: 20px;
    width: 150px;
    margin-right: 8px;
    font-weight: 600;
    padding: 0px 0px 0px 10px;
}

.detail-grid span[b-ooivdabmy6] {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #111827;
}

.detail-actions[b-ooivdabmy6] {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 25px;
    padding-right: 20px;
}

.detail-actions .back[b-ooivdabmy6] {
    height: 40px;
    width: 100px;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid #A6A6A6;
    background: #fff;
    font-weight: 600;
    cursor: pointer;
}

.detail-actions .confirm[b-ooivdabmy6] {
    height: 40px;
    width: 100px;
    padding: 0 10px;
    border-radius: 10px;
    border: 2px solid #A6A6A6;
    background: #fff;
    font-weight: 600;
    cursor: pointer;
}
